/* .custom-tooltip h1,
.custom-tooltip h2,
.custom-tooltip h3,
.custom-tooltip h4,
.custom-tooltip h5 {
    font-weight: bold;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    overflow: hidden;
}

.custom-tooltip h1,
.custom-tooltip h2 {
    margin-bottom: 0.6em;
    border-bottom: 1px solid var(--border-color-base, #a2a9b1);
}

.custom-tooltip h1 {
    font-size: 188%;
    font-weight: normal;
}

.custom-tooltip h3 {
    font-size: 128%;
}

.custom-tooltip h4 {
    font-size: 116%;
}

.custom-tooltip p {
    font-size: 100%;
    margin: 0.4em 0 0.5em 0;
}

.custom-tooltip strong {
    font-weight: bold;
}

.custom-tooltip ul {
    list-style-type: disc;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}

.custom-tooltip li {
    margin-bottom: 0.1em;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
} */

#tooltip-title {
    /* font-family: Poppins, sans-serif; */
    font-family: "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.custom-tooltip h1,
.custom-tooltip h2,
.custom-tooltip h3,
.custom-tooltip h4,
.custom-tooltip h5 {
    font-family: Georgia, Palatino, serif;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.custom-tooltip h1 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
}

.custom-tooltip h2 {
    font-size: 22px;
}

.custom-tooltip h3 {
    font-size: 16px;
}

.custom-tooltip h4 {
    font-size: 16px;
}

.custom-tooltip h5 {
    font-size: 16px;
}

.custom-tooltip p {
    margin-top: 0;
    margin-bottom: 10px;
}

.custom-tooltip hr {
    height: 1px;
    background: #ccc;
    font-size: 0;
    border: 0;
    width: 80%;
    margin: 20px auto;
}

.custom-tooltip code {
    /* background-color: #f4f6ff; */
    /* color: rgb(64, 42, 207); */
    background-color: #ffebee;
    color: #c62828;
    border-radius: 2px;
    padding: 0 5px;
    font-family: monospace;
}

.custom-tooltip ul,
.custom-tooltip ol {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.custom-tooltip ul {
    list-style-type: disc;
}

.custom-tooltip ol {
    list-style-type: decimal;
}

.custom-tooltip li {
    margin-bottom: 5px;
}

.custom-tooltip a {
    color: #cc00aa;
    text-decoration: none;
}

.custom-tooltip a:hover {
    text-decoration: underline;
}

.custom-tooltip strong {
    font-weight: bold;
}

.custom-tooltip i {
    font-style: italic;
}