* {
    font-family: sans-serif;
}
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #dfdfdf;
    width: 30%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #f3faff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    color: #333;
}

.description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

.api-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #a3b2b9;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #def2fc;
}

.color-picker {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 14px;
}

.color-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.color-preview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table th {
    font-size: 14px;
    background-color: #eef9ff;
}

table tr:nth-child(even) {
    background-color: #edf2f5;
}

table tr:hover {
    background-color: #ececec;
}

.actions {
    display: flex;
    gap: 5px;
}

.actions button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #a3b2b9;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #c4ddea;
}

.actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}