@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


.custom-tooltip {
    all: initial;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222;
    position: absolute;
    padding: 8px 12px;
    background-color: aliceblue; /* Tooltip background color which can be changed by option page*/
    /* --tooltip-arrow-color: aliceblue; */ /* set this in content.js */
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    z-index: 1000;
    max-width: 500px;
    /* Adjust based on your preference */
    word-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: none;
    /* Initially hidden */
}

.custom-tooltip.show {
    display: block;
    /* Show the tooltip */
}

.custom-tooltip .close-button {
    all: initial;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0 5px;
    font-size: 16px;

}

.custom-tooltip .close-button:hover {
    color: #a2a2a2;
}

.custom-tooltip .container-search-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    /* margin-bottom: 10px; */

}

.custom-tooltip .search-button:hover {
    background: #e0e0e0;
}

.custom-tooltip .search-button {
    all: initial;
    display: flex;
    align-items: center;
    gap: 5px;
    /* Space between icon and text */
    background-color: transparent;
    color: inherit;
    /* Use the text color of the parent element */
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 5px;
}

.search-button img {
    display: block;
    /* Prevents baseline alignment issues */
}

.custom-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Position at the bottom of the tooltip */
    left: var(--arrow-left, 10%); /* Adjust as needed to align with the tooltip design */
    margin-left: -5px; /* Center the arrow */
    border-width: 5px; /* Size of the arrow */
    border-style: solid;
    border-color: transparent transparent var(--tooltip-arrow-color) transparent; /* Arrow color matching the tooltip background */
    display: none;
}

.custom-tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Positioning relative to the tooltip */
    left: var(--arrow-left, 10%); /* Align with the ::after pseudo-element */
    margin-left: -6px; /* Adjust to cover the border of the ::after pseudo-element */
    border-width: 6px; /* Slightly larger to cover the border */
    border-style: solid;
    border-color: transparent transparent #d3d3d3 transparent; /* Border color matching the tooltip border */
    display: none;
}

.custom-tooltip.visible::after {
    display: block; /* Show the arrow when tooltip is visible */
}

.custom-tooltip.visible::before {
    display: block; /* Show the arrow when tooltip is visible */
}

.custom-site-icon {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
